<!DOCTYPE html>
<html>
    <head>
        <title>Yelpcamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap">
        <link rel="stylesheet" href="stylesheets/landing.css">
    </head>
    <body>
        <div id="landing-header">
            <div class="content">
                <h1>Welcome to Yelpcamp !</h1>
                <a class="btn btn-lg" href="/campgrounds">Campgrounds</a>
            </div>
            <ul class="slideshow">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </body>
</html>